<div>
      <intl-input-phone  [ConfigurationOption]="configOption3"></intl-input-phone>
	</div>
  <button type="button" class="btn btn-primary" (click)="openModal(template)" >Create template modal</button>
 
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
    <br>
     <intl-input-phone  [ConfigurationOption]="configOption3"></intl-input-phone>
  </div>
</ng-template>
 <!-- <form #f="ngForm" [formGroup]="phoneForm">
    <ngx-intl-tel-input 
    [cssClass]="'custom'" 
    [preferredCountries]="['us', 'gb']" 
    [enablePlaceholder]="true"
    [enableAutoCountrySelect]="true"
    name="phone" 
    formControlName="phone"></ngx-intl-tel-input>
  </form> -->
 